@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims

@model FlickrClone.Models.Category

<h2>@User.GetUserName()'s Profile</h2>
<h2>Load Image</h2>
@using (Html.BeginForm("Index",
                "Category",
                FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" /><br><br>
    <input type="submit" value="Upload Image" />
    <br><br>
}

@if (ViewBag.Photos != null)
{
    
        <h3>@Model.Name photos</h3>
        @foreach (var x in ViewBag.Photos)
        {
            <img src="@x.Location" />
            <p>@x.Comment</p>

           @using (Html.BeginForm("Comment", "Category"))
                {
                    <div>Post Comment</div>
                    
                     <input type="text" name="Comment" size="30" />
                  
                    <input type="hidden" name="PhotoId" value="@x.PhotoId" />
                    <input type="hidden" name="CategoryId" value="@x.CategoryId" />
                    <input type="hidden" name="Location" value="@x.Location" />
                    <input type="submit" value="Comment" class="btn btn-warning"/>
                    <br/>
                    <br />
                 }
         }

  }


